---
const { title, imgSrc, liveURL, githubURL, mirrored } = Astro.props

function chooseLayout(
	className: string,
	isMirrored: boolean,
	isIndented: boolean = false
) {
	if (isMirrored && isIndented) {
		return className + ' mirrored mirrored-margin'
	} else if (isMirrored) {
		return className + ' mirrored'
	} else {
		return className
	}
}
---

<section class="project-container">
	<section class="img">
		<img src={imgSrc} alt={title + ' project screenshot'} />
	</section>
	<section class={chooseLayout('project', mirrored)}>
		<h3>{title}</h3>
	</section>
	<section class={chooseLayout('info', mirrored, true)}>
		<slot />
	</section>
	<section class={chooseLayout('links', mirrored, true)}>
		<p><a href={liveURL} target="_blank">Live Site</a></p>
		<p><a href={githubURL} target="_blank">Source Code</a></p>
	</section>
</section>

<style>
	:root {
		--clr: 200;
		--clr-main: var(--clr) 25%;
		--clr-main-200: hsl(var(--clr-main) 95%);
		--clr-main-300: hsl(var(--clr-main) 90%);
		--clr-main-400: hsl(var(--clr-main) 75%);
		--clr-main-500: hsl(var(--clr-main) 35%);
		--clr-main-600: hsl(var(--clr-main) 25%);
		--clr-main-700: hsl(var(--clr-main) 15%);
		--bg-color: hsla(var(--clr-main) 18%/ 0.95);
		--bg-solid: hsla(var(--clr-main) 18%);
	}

	.project-container {
		display: grid;
		grid-template-columns: 1fr;
		max-width: min(90%, 95ch);
		margin: 5rem auto;
		--c1-base: #123;
		--c2-base: #ddd;
		--c2-light: #eef;
		--c2-shade: #456;

		box-shadow:
			-0.5rem 0.5rem 0rem 0rem var(--clr-main-200),
			0.5rem -0.5rem 0rem 0rem var(--clr-main-200),
			1rem -1rem 0rem 0rem var(--clr-main-500),
			-1rem 1rem 0rem 0rem var(--clr-main-500);
	}

	.img {
		aspect-ratio: 16 / 9;
		overflow: hidden;
	}

	img {
		width: 100%;
		object-fit: cover;
	}

	.info,
	.project,
	.links {
		background: var(--bg-color);
		transition: background ease-in 0.6s;
		color: hsla(50, 20%, 90%);
		padding: 1rem 2rem;
	}

	.links {
		background: var(--bg-solid);
		display: flex;
		justify-content: space-evenly;
	}

	a {
		--clr-link-accent: #2d3;
		--clr-link-muted: #4c2;
		--clr-link-active: #e65;
		font-family: serif;
		font-weight: normal;
		text-underline-offset: 6px;
		color: var(--clr-link-accent);
	}
	a:visited {
		color: var(--clr-link-muted);
	}
	a:hover {
		color: var(--clr-link-active);
	}

	@media (min-width: 922px) {
		.project-container {
			grid-template-columns: repeat(7, 1fr);
		}

		.project-container:hover {
			--bg-color: hsla(var(--clr-main) 15% / 0.7);
		}

		.info {
			overflow: hidden;
			max-height: 16ch;
		}

		.img {
			grid-column: 1 / -1;
		}

		.img,
		.info,
		.project,
		.links {
			grid-row: 1 / -1;
		}

		.info,
		.project,
		.links {
			grid-column: 1 / -3;
			border-right: 0.1rem solid white;
		}

		.project {
			align-self: start;
		}

		.info {
			align-self: center;
			margin-right: 1em;
		}

		.links {
			align-self: end;
			margin-right: 1em;
		}

		.mirrored {
			grid-column: 3 / -1;
			border-right: none;
			border-left: 0.1rem solid white;
		}
		.mirrored-margin {
			margin-left: 1em;
			margin-right: 0;
		}
	}
</style>
