---
import Layout from "../../../layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

import info from "../../../info";
const {base: baseURL} = info

const pageTitle = "Tag Index";
const allPosts = await getCollection("blog-posts");
const tags = [...new Set(allPosts.filter((post: CollectionEntry<"blog-posts">) => post.data?.tags).map((post) => post.data.tags).flat())];
---

<Layout title={pageTitle} >
    <h1>Tags:</h1>
  <ul class="tags">
    {tags.map((tag) => <li class="tag"><a href={`${baseURL}/blog/tags/${tag}/`}>{tag}</a></li>)}
  </ul>
</Layout>

<style>
    ul {
        justify-content: center;
        flex-flow: row wrap;
        margin-top: 2em;
        font-size: var(--font-size-md);
    }
    h1:before, h1:after {
		height: var(--font-size-xl);
	}
</style>