---
export interface Props {
	title: string;
}
import Header from "../components/Header.astro"
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href={baseURL + "/favicon.svg"} /> -->
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐱‍💻</text></svg>" />
		{ import.meta.env.PROD &&
			<base href="https://3dvkr.github.io" />
		  }
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--max-w: 85ch;

		--font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
		--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 1.8rem);
		--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
		--font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
		--font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

		--clr: 200;
		--clr-main: var(--clr) 55%;
		--clr-main-200: hsl(var(--clr-main) 95%);
		--clr-main-300: hsl(var(--clr-main) 90%);
		--clr-main-400: hsl(var(--clr-main) 75%);
		--clr-main-500: hsl(var(--clr-main) 35%);
		--clr-main-600: hsl(var(--clr-main) 25%);
		--clr-main-700: hsl(var(--clr-main) 15%);
	}
	.date {
		font-family: "American Typewriter", monospace;
		font-size: var(--font-size-md);
	}
	.posts {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2ch;
		align-items: center;
	}
	.site-name {
		font-size: var(--font-size-md);
		font-weight: 700;
	}
	header {
		margin-top: 1rem;
	}
	header nav {
		display: flex;
		justify-content: space-between;
		align-items: end;
		gap: 4ch;
	}
	.links a + a {
		margin-left: clamp(1ch, 0.5ch + 2vw, 3ch);
	}
	.tags {
		list-style: none;
		display: flex;
		gap: 2ch;
	}
	.tags li {
		border: 1px solid grey;
		border-radius: 0.3em;
		padding: 0.25rem 1rem;
	}
	body {
		/* max-width: min(130ch, 90%); */
		padding: 1rem 2rem;
		margin: 0 auto;
		overflow-x: hidden;
		letter-spacing: 0.1ch;
		font-weight: 800;
	}
	html,
	body {
		font: 14px/1.5 "Helvetica";
		box-sizing: border-box;
		scroll-padding-top: calc(6.5em);
		scroll-behavior: smooth;
		line-height: 1.6;
	}
	h1,
	h2 {
		font-family: "Inter", "system-ui", sans-serif;
		letter-spacing: 0.2ch;
	}
	h1 {
		font-size: var(--font-size-xxl);
		line-height: 1.47em;
		padding-top: 0.372em;
		margin-bottom: 0.116em;
		letter-spacing: 0.08em;
		font-weight: 800;
	}

	h2 {
		font-size: var(--font-size-xl);
		line-height: 1.56em;
		padding-top: 0.444em;
		margin-bottom: 0.333em;
	}

	h3 {
		font-size: var(--font-size-lg);
		line-height: 1.91em;
		padding-top: 0.591em;
		margin-bottom: 0.364em;
	}

	h4 {
		font-size: var(--font-size-md);
		line-height: 1.17em;
		padding-top: 0.222em;
		margin-bottom: 0.944em;
	}

	p {
		font-size: var(--font-size-base);
		line-height: 1.5em;
		padding-top: 0.429em;
		margin-bottom: 1.07em;
	}
	em {
		font-family: Georgia, serif;
	}
	ul {
		margin: 0;
		padding: 0;
	}

	a {
		text-underline-offset: 0.35em;
		color: var(--clr-main-500);
	}

	a:visited {
		color: var(--clr-main-600);
	}

	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
		background: lightgray;
		padding: 0.2em 0.4em;
	}
	pre {
		padding: 8px 16px;
		overflow: auto;
		border-radius: 4px;
		background: #343434;
	}
	pre > code {
		border-radius: 4px;
		font-family: Consolas, Monaco, "Andale Mono", monospace;
		display: block;
		font-size: 14px;
		line-height: 1.5;
		word-break: normal;
		white-space: pre;
		word-spacing: normal;
		tab-size: 4;
		background: inherit;
	}
	blockquote {
		margin-bottom: 2em;
		padding: 0 1em;
		color: #777;
		border-left: 4px solid #ddd;
	}

	header {
		max-width: var(--max-w);
		margin: 0 auto;
		position: relative;
	}
	
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: var(--max-w);
	}
	h1 {
		position: relative;
		text-align: center;
	}
	h1:before, h1:after {
		content: "";
		--mult: 1.3;
		height: min(calc(var(--font-size-xl) * var(--mult)), 38%);
		position: absolute;
		z-index: -1;
		--h-alpha: 0.4;
		--h-clr-a: 80;
		--h-clr-b: 10;

	}
	h1:before {
		background: hsla(var(--h-clr-b), 100%, 65%, calc(var(--h-alpha) * 2));
		width: calc(100% + 0.25ch);
		bottom: calc(-1 * var(--font-size-xl) * 0.25);
		left: 0.035em;
		border-radius: 0 5px 60% / 40% 85%;
		transform: rotate(-1deg);
	}
	h1:after {
		background: hsla(var(--h-clr-a), 60%, 65%, var(--h-alpha));
		width: calc(100% + 0.75ch);
		top: calc(var(--font-size-xl) * 0.9);
		left: -0.1em;
		border-radius: 0 5px 70% / 40% 65%;
		transform: rotate(1deg);
	}

	key {
		color: #666;
		display: inline-block;
		text-transform: uppercase;
		text-align: center;
		border-radius: 4px;
		padding:0.15em 0.3em;
		border: 2px solid gray;
		box-shadow: inset 0 0 20px gray, 0 5px 0 gray,
			0 6px 0 1px gray, 0 8px 5px gray;
	}
</style>
